/* BASE LAYOUT FLEXBOX */

body {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 500;
	font-style: normal;
	background-color: #fbf8f3;
	overflow-x: hidden;
	/* margin-left: 7%;
	margin-right: 7%; */
}

.wrapper {
	margin-left: 7%;
	margin-right: 7%;
}
