/* BUTTONS */

.button {
	font-family: "houschka-rounded", sans-serif;
}

.button {
	margin-top: 30px;
	color: #415b01;
	border-radius: 30px;
	padding: 10px 25px;
	background-color: white;
	z-index: 500;
}

.button:hover {
	font-weight: 300;
	font-style: bold;
	color: #fbf8f3;
	z-index: 500;
	background-color: #415b01;
}
