/* NAVIGATION */
.navigation {
	display: flex;
	justify-content: center;
	padding-top: 12px;
	font-size: 14px;
}

.navigation ul {
	margin: 0;
	padding: 0px;
}

.navigation ul li {
	display: inline-block;
	margin-right: 20px;
}

.navigation ul li a {
	text-decoration: none;
	color: #5f5642;
}
