/* TYPOGRAPHY */

h1 {
	font-family: "baskerville-display-pt", serif;
	font-weight: 400;
	font-style: normal;
	color: #5f5642;
}

h2 {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-size: 24px;
	font-style: italic;
	color: #d4b89d;
}

h3 {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #d4b89d;
}

h4 {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #d4b89d;
}

h5 {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 200;
	font-style: italic;
	color: #d4b89d;
}

h6 {
}

p {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: medium italic;
	font-size: 14px;
	color: #d4b89d;
}

a {
	text-decoration: none;
}
a:hover {
	color: #415b01;
}
