.gert-wrapper {
	margin-top: 10%;
}

.gerttext1 {
	margin-left: 25px;
	max-width: 30%;
}

.text2 {
	text-align: center;
}

.gert {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	justify-content: center;
}

.gert img {
	width: 300px;
}

.ausloos p {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.pink {
	display: flex;
	justify-content: center;

	margin-top: 50px;
}

.pink img {
	width: 29%;
	padding-left: 15px;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.gert {
		flex-direction: column;

		text-align: center;
	}

	.gerttext1 {
		max-width: 100%;

		margin: 10px 0;
	}

	.gert-wrapper h1,
	.gert-wrapper h2,
	.gert-wrapper p {
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
	.pink {
		flex-direction: column;
		justify-content: center;
	}

	.pink img {
		margin-top: 10px;
		width: 65%;
	}

	.flower img {
		width: 65%;
		margin-top: 10px;
	}
}

/*Hamburger menu*/

.mobile-container {
	max-width: 80%;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
}

.topnav {
	overflow: hidden;
	position: relative;
}

.navigation #myLinks {
	display: none;
}

#myLinks {
	color: #605643;
}

.navigation a {
	color: #605643;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.navigation a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

@media (min-width: 769px) {
	.navigation a {
		display: inline-block;
	}

	.navigation #mylinks {
		display: inline-block !important;
	}

	.navigation a.icon {
		display: none;
	}

	.navigation {
		text-align: center;
	}
}

.navigation {
	overflow: hidden;
	position: relative;
	text-align: center;
}

@media (min-width: 767px) {
	.navigation a {
		display: inline-block;
	}

	.navigation #mylinks {
		display: inline-block !important;
	}

	.navigation a.icon {
		display: none;
	}

	.navigation #myLinks {
		display: block !important;
	}
}