/* Reset some default browser styles */

form {
	max-width: 40%;
	margin: 0 auto;
	background-color: none;
	padding: 20px;
	border-radius: 0px;
	
}

label {
	display: block;
	margin-bottom: 8px;
}

input {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: bold;
	color: #415b01;
	background-color: #fbf8f3;
	padding: 5px;
	text-decoration: none;
}

button:hover {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: bold;
	color: #fbf8f3;
	background-color: #415b01;
	padding: 5px;
}

/* Style radio buttons */
input[type="radio"] {
	margin-right: 5px;
}

/* Add some spacing between radio buttons and their labels */
label input[type="radio"] {
	margin-top: 10px;
}
::placeholder {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #d4b89d;
	
}

::-ms-input-placeholder {
	/* Edge 12-18 */
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #d4b89d;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.custom-font-size {
	font-size: 100px; /* Set the desired font size for the specific element */
	color: #415b01;
}



.image-container {
	position: fixed;
	top: 30%;
	left: 10%;
	width: 30%;
	height: 50%;
	z-index: -1; /* Place the image container behind other elements */
}

.background-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5; /* Adjust opacity as needed */
}

.wrapper {
	position: relative;
	z-index: 1; /* Place the forms container above the image container */
	/* Your existing styles for .wrapper */
}
