

.site-footer {
    background-color: #605643   ;
	color: #fff;
	padding: 20px 0;
	text-align: center;
   margin-top: auto;
	position: relative;
	display: flex;
}
.footer-container {
	max-width: 100%;
	margin: 0 auto;
	bottom: 0;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: left;
	padding-left: 20px;
}

.footer-content div{
    flex: 1;
}

.footer-content img{}

.footer-category {
	margin-top: 5%;
	text-align: center;
}
.footer-category2 {
	margin-top: 5%;
    width: 25%;
    height: auto;
	text-align: center;
}
.tree12 {
    width: auto;
    width: 50%;
}

.footer-links {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.footer-links li {
	display: block;
	margin-bottom: 20px;
}

.footer-links a {
	text-decoration: none;
	color: #fbf8f3; 
	font-weight: bold;
	display: inline-block;
	transition: color 0.3s ease;
}

.copyright {
	color: #fff;
	margin-top: 2%;
	text-align: center;
	width: 100%;
	margin-left: 2%;
	margin-bottom: 1%;
}

.footer-links a:hover {
	color: #d4b89d;
}
/* Existing styles... */


.footertextcolor {
	color: #fbf8f3;
}
.button2 {
	font-family: "houschka-rounded", sans-serif;
	text-decoration: none;
	padding: 5px 10px;
	background-color: #415b01;
	color: #fbf8f3;
	white-space: none;
}



.button2:hover {
    font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: bold;
	color: #fbf8f3;
	z-index: 500;
	background-color: #aaa88e;

}
@media (max-width: 768px) {
	.site-footer {
		background-color: #605643   ;
		
		padding: 20px 0;
		text-align: center;
		margin-top: 60%;
	}
	.footer-content {
		flex-direction: column;
		text-align: center;
	}

	.footer-category2 {
		width: 100%;
	}

	.tree12 {
		width: 70%; /* Adjust as needed */
		
	}
	.image-container {
		padding-bottom: 75%;
		position: absolute;
		top: 60%;
		left: 10%;
		width: 80%;
		height: auto;
		z-index: -1;
}
}