.gertpicture img {
	width: 300px;
	margin-left: 200px;
	position: absolute;
}

.backgroundflowers img {
	margin-top: 100px;
	width: auto;
	margin-right: 400px;
	height: 350px;
}

div.backgroundflowers img {
	margin: 0;
	margin-top: 150px;
}

img.fotogeert {
	width: 400px;
	height: auto;
	margin-left: 10px;
	position: relative;
	z-index: 1; /* Ensure Gert Ausloos' image is on top */
	margin-bottom: 0px;
}

.gertpicture h1 {
	margin-right: 650px;
}

.text {
	margin-left: 609px;
	position: absolute;
	margin-top: 85px;
	height: 350px;
	position: fixed;
	top: 10%;
	left: 15%;
	width: 273.65px;
}

.layout {
	display: flex;
}
