.bloemenachtergrond img {
	width: 1200px; /* Set a specific width */
	height: 800px; /* Set a specific height */
	position: absolute;
	top: 0;
	left: 0;
}

.fotogeert img {
	width: 400px;
	height: auto;
	position: relative;
	z-index: 1; /* Ensure Gert Ausloos' image is on top */
}

.foto .text1 {
	position: absolute;
	width: 14.5%;
	top: 10%;
	left: 15%;
}

.text2 {
	position: absolute;
	width: 20%;
	top: 40%;
	right: 8%;
	float: right;
}

.text3 {
	position: absolute;
	width: 20%;
	top: 66%;
	right: 18%;
	float: right;
}
