.gert-wrapper {
	margin-top: 10%;
}

.gert-wrapper h1,
h2,
p {
	margin-left: 10%;
}

.gert {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	justify-content: center;
}

.gerttext1 {
	max-width: 30%;
}

.ausloos-wrapper {
}

.ausloos p {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.pink {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.pink img {
	width: 25%;
	margin-left: 10px;
}
.flower img {
	width: 250px;
	margin-top: 30px;
}

@media screen and (max-width: 768px) {
	.gert {
		flex-direction: column; /* Stack elements vertically on smaller screens */
		text-align: center; /* Center-align text in the .gert wrapper */
	}

	.gerttext1 {
		max-width: 100%; /* Take up full width on smaller screens */
		margin: 10px 0; /* Add some margin between elements */
	}

	.gert-wrapper h1,
	.gert-wrapper h2,
	.gert-wrapper p {
		margin-left: 0; /* Remove left margin for smaller screens */
	}
}

/* Media query for mobile-sized screens (480px) */
@media screen and (max-width: 480px) {
	.pink {
		flex-direction: column;
		justify-content: center; /* Stack images vertically on smaller screens */
	}

	.pink img {
		margin-top: 10px;
		width: 65%; /* Add some margin between images on mobile */
	}
}
