body {
	background-color: #fbf8f3;
}

.navigation {
}

.navigation ul {
	margin: 0;
	padding: 0px;
}

.navigation ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 18px;
}

.navigation ul li a {
	text-decoration: none;
	color: #415b01;
}

.navigation ul li a.button {
	background-color: #fbf8f3;
	padding: 10px 20px;
	color: #415b01;
	border-radius: 7px;
	font-weight: bold;
	text-decoration: none;
}
