.home {
	position: relative;
}

.lineart img {
	max-width: 145%;
	max-height: 145%;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.titel {
	position: relative;
	z-index: 2;
}

.titel h1 {
	color: #5f5642;
	font-size: 210px;
	text-align: center;
	transform: scaleY(2.2);
	margin-top: 200px;
	margin-bottom: 50px;
}

.slogan h1 {
	margin-right: 50px;
	text-align: end;
}

.citaat h2 {
	text-align: center;
}

.navigation {
	margin-top: 5px;
}

.second {
	display: flex;
	/* margin-top: 100px; */
}

.text {
	margin-top: 190px;
	margin-right: 200px;
}

.second img {
	width: 100%;
	margin-top: 100px;
	margin-left: 200px;
}

.second h1,
h2 {
	margin: 0;
}

.second p {
	margin-bottom: 0;
}

.berger {
	margin: 0;
	margin-top: 4px;
	margin-left: 125px;
}

.button {
	margin-top: 30px;
	margin-left: 150px;
	color: #415b01;
	border-radius: 15px;
	padding: 10px 15px;
	background-color: white;
}

.third h2 {
	margin-left: 16%;
	margin-top: 120px;
}

.testContainer {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
@media screen and (max-width: 900px) {
	.testContainer {
		width: 150px;
		height: 150px;
	}
}
.hiddenImage {
	height: 100%;
	position: relative;
}
.hiddenImage img {
	width: 100%;
	object-fit: cover;
	position: absolute;
}
.featured {
	position: absolute;
	background: url("http://slm-assets1.secondlife.com/assets/3789237/lightbox/512x512%20PNG%20Landscape%20Texture%20-%20Dandelion%20Field.jpg")
		no-repeat;
	background-size: auto 100%;
	width: 100%;
	height: 100%;
}
.reveal {
	height: 100%;
	border-left: 6px solid #555;
	position: absolute;
	right: 0;
	cursor: col-resize;
	font-size: 2.1rem;
	font-weight: bold;
	text-align: center;
	line-height: 3.2rem;
}
.reveal:after {
	content: "\2194";
	display: block;
	width: 50px;
	height: 50px;
	border: 2px solid #f1f1f1;
	border-radius: 50%;
	color: #f1f1f1;
	background: #555;
	position: absolute;
	left: -30px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.notice {
	width: 25%;
	margin: 2rem auto;
	padding: 1rem;
	background: #ffffe5;
	border-radius: 1rem;
	box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5);
}
