.container {
	display: flex;
	margin: auto;
}

.container img {
	width: 40%;
}

.text {
	text-align: justify;
	background-color: #fbf8f3;
	padding-right: 50px;
}

.text h1 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
}