/* base-layout.css */

body {
}

.container {
	display: flex;
	margin: auto;
}

.container img {
	max-width: 100%; /* Ensure images are responsive */
}

.text h1 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
}

.missie {
	margin-bottom: 20px;
	position: relative;
	top: 250px; /* Adjust the vertical position */
	left: 30%; /* Adjust the horizontal position */
	height: 100%;
	width: 50%;
	background-color: #fbf8f3;
	padding: 5px;
	color: black;
	padding-left: 30px;
}
.visie {
	margin-bottom: 20px;
	position: relative;
	top: 250px; /* Adjust the vertical position */
	left: 5%; /* Adjust the horizontal position */
	height: 100%;
	width: 50%;
	background-color: #d4b89d;
	padding: 5px;
	color: black;
	padding-left: 35px;
	margin-left: 12%;
}

.narrow-width {
	max-width: 500px;
}

img {
	max-width: 100%;
	height: auto;
}
.wave-header {
	text-align: center;
	z-index: 1; /* Set a lower z-index to position it behind the slider */
	width: 100%;
	background-color: #fbf8f3;
	margin-top: -5%;
}

.wave-head {
	text-align: center;
	z-index: 1; /* Set a lower z-index to position it behind the slider */
	width: 100%;
	background-color: #d4b89d;
	margin-top: -10px;
	height: max-content;
}
.flex {
	background-color: #d4b89d;
}
.hero1 {
	margin-top: -15%;
}

.hero2 {
	margin-top: -22%;
}

.foto1 {
	margin-left: 20%;
	height: 300px;
}

.foto2 {
	margin-left: 160%;
	margin-right: 0;
	padding-right: 0;
	height: 300px;
	padding-bottom: 10%;
}
p {
	padding: 5px;
	color: black;
	top: -400px; /* Adjust the vertical position */
	height: 100%;
}
/*.text10 {
	left: 10%; /* Adjust the horizontal position */
/*width: 30%;
	padding-left: 30px;
	margin-left: 10%;
}

.text20 {
	left: 60%; /* Adjust the horizontal position */
/*width: 50%;
	padding-left: 30px;
}*/

/*body {
	background-image: url(Pictures/top.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0%;
}*/
