.photo {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
}



.article1 {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 225px;
}

.article2 {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 225px;
}


.text {
	display: flex;
	flex-direction: column;
	flex: none;
	width: calc(100% - 25px);
	/* Set width to 100% minus margin to allow responsiveness */
	text-align: center;
}

.text h3 {
	margin: 10px 0 0 0;
}

.text2 h3 {
	margin: 10px 0 0 0;
}

.downloadsign {
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	padding: 10px;
	align-self: center;
}

.rapport {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {

	.rapport {

		justify-content: center;
	}

	.flowerpicture {
		width: 85%;
		padding-top: 10px;
	}

	h1.reports {
		text-align: center;
		margin: 0;
	}

	.rapport2 {
		justify-content: center;
	}
}

.photo2 {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
}

.article2 {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	width: 225px;
}

.text2 {
	display: flex;
	flex-direction: column;
	flex: none;
	width: calc(100% - 25px);
	text-align: center;
}

.documents2 {
	margin-bottom: 0;
}

.rapport2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 45px;

}

h1.notes {
	margin-top: 45px;
}

h1.reports {
	margin-top: 30px;
}




/* Responsive styles */
@media screen and (max-width: 768px) {
	.article2 {
		justify-content: center;
	}

	h1.notes {
		text-align: center;
	}

	.rapport2 {
		justify-content: center;
	}
}

/*Hamburger menu*/

.mobile-container {
	max-width: 80%;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
}

.topnav {
	overflow: hidden;
	position: relative;
}

.navigation #myLinks {
	display: none;
}

#myLinks {
	color: #605643;
}

.navigation a {
	color: #605643;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.navigation a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.navigation a:hover {}



@media (min-width:769px) {
	.navigation a {
		display: inline-block;

	}

	.navigation #mylinks {
		display: inline-block !important;
	}

	.navigation a.icon {
		display: none;
	}

	.navigation {
		text-align: center;
	}
}

.navigation a {
	text-align: center;
}

.mobile-container {
	max-width: 769px;
	margin: auto;
	background-color: #555;
	height: 500px;
	color: white;
	border-radius: 10px;
}

.navigation {
	overflow: hidden;
	position: relative;
}


.navigation a {
	color: #605643;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.navigation a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

@media (min-width:767px) {
	.navigation a {
		display: inline-block;

	}

	.navigation #mylinks {
		display: inline-block !important;
		float: right;
	}

	.navigation a.icon {
		display: none;
	}

	.navigation #myLinks {
		display: block !important;
	}
}