.wrapper {
	max-width: 1200px;
}

.photo {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
}

.article {
	background-color: white;
	margin: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 225px;
}

.text {
	display: flex;
	flex-direction: column;
	flex: none;
	width: calc(
		100% - 25px
	); /* Set width to 100% minus margin to allow responsiveness */
	text-align: center;
}

.text h3 {
	margin: 10px 0 0 0;
}

.text2 h3 {
	margin: 10px 0 0 0;
}

.downloadsign {
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	padding: 10px;
	align-self: center;
}

.rapport {
	display: flex;
	flex-wrap: wrap;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
	.article {
		width: 100%;
	}
	.flowerpicture {
		width: 85%;
	}
	h1.reports {
		text-align: center;
		margin: 0;
	}
}

.photo2 {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 10px;
}

.article2 {
	background-color: white;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	width: 225px;
}

.text2 {
	display: flex;
	flex-direction: column;
	flex: none;
	width: calc(100% - 25px);
	text-align: center;
}

.documents2 {
	margin-bottom: 0;
}

.rapport2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
	.article2 {
		width: 100%;
	}
	h1.notes {
		text-align: center;
	}
}

h1.notes {
	margin-left: 2%;
	margin-top: 45px;
}

h1.reports {
	margin-left: 11%;
	margin-top: 30px;
}

.flowerpicture {
	margin-left: 55px;
}
