.testContainer {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 900px) {
	.testContainer {
		width: 150px;
		height: 150px;
	}
}

.hiddenImage {
	height: 100%;
	position: relative;
}

.hiddenImage img {
	width: 100%;
	object-fit: cover;
}

.featured {
	position: absolute;
	background: url("http://slm-assets1.secondlife.com/assets/3789237/lightbox/512x512%20PNG%20Landscape%20Texture%20-%20Dandelion%20Field.jpg")
		no-repeat;
	background-size: auto 100%;
	width: 0;
	height: 100%;
	transition: width 0.3s ease;
}

.slider {
	width: 100%;
	margin-top: 10px;
}

.notice {
	width: 25%;
	margin: 2rem auto;
	padding: 1rem;
	background: #ffffe5;
	border-radius: 1rem;
	box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5);
}
