HEAD .navigation {
	display: flex;
	justify-content: center;
	padding-top: 12px;
	font-size: 14px;
}
.navigation ul {
	margin: 0;
	padding: 0px;
}
.navigation ul li {
	display: inline-block;
	margin-right: 20px;
}
.navigation ul li a {
	text-decoration: none;
	color: #5f5642;
}

body {
	background-color: #fbf8f3;
	margin: 0;
}

h1 {
	font-family: "baskerville-display-pt", serif;
	font-weight: 400;
	font-style: normal;
	color: #5f5642;
}

h2 {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #d4b89d;
}

h3 {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: italic;

	color: #d4b89d;
}

h4 {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #d4b89d;
}
p {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: medium italic;
	font-size: 14px;
}

body .rapport ul li {
	display: contents;
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: medium italic;
	font-size: 14px;
}
body .rapport ul li img {
	height: 75px;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}
progress {
	vertical-align: baseline;
}
/*tezien {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: medium italic;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	margin-left: 15%;
	margin-right: 15%;

	align-content: center;
}*/
