.rapport {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.documents {
	display: inline;

	margin: 50px;
	margin-top: 20px;
	margin-bottom: 10px;

	padding: 35px;

	background-image: url(Pictures/th-2981692090.jpeg);
	background-repeat: no-repeat;
	background-size: 50%;
	justify-content: center;
}
