.uo-transition {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 100;
}
.div {
	background: transparent;
	border: 0;
	font: inherit;
	font-size: inherit;
	font-size: 100%;
	margin: 0;
	min-width: 0;
	outline: 0;
	padding: 0;

	vertical-align: baseline;
}
.main {
	box-sizing: border-box;
	text-align: center;
	color: var(--color-black);
	font-family: var(--font-family);
	font-feature-settings: "liga", "ss05";
	font-size: var(--font-size-base);
	font-style: normal;
	font-synthesis: none;
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;
}
.main {
	line-height: 1;
}
body {
	--rgb-app: 255, 252, 249;
	--rgb-black: 29, 45, 53;
	--rgb-black-dark: 0, 0, 0;
	--rgb-black-light: 39, 55, 63;
	--rgb-blue: 30, 100, 230;
	--rgb-blue-dark: 10, 80, 210;
	--rgb-blurple: 85, 34, 250;
	--rgb-brass: 216, 198, 166;
	--rgb-eggshell: 252, 244, 242;
	--rgb-eggshell-dark: 242, 234, 232;
	--rgb-eggshell-darker: 235, 227, 225;
	--rgb-green: 45, 165, 48;
	--rgb-green-dark: 25, 145, 28;
	--rgb-grey: 142, 150, 154;
	--rgb-grey-dark: 69, 85, 93;
	--rgb-grey-light: 233, 234, 235;
	--rgb-orange: 255, 125, 15;
	--rgb-orange-dark: 240, 110, 0;
	--rgb-pink: 255, 92, 122;
	--rgb-pink-dark: 235, 72, 102;
	--rgb-purple: 88, 86, 214;
	--rgb-purple-dark: 68, 66, 194;
	--rgb-red: 245, 25, 45;
	--rgb-red-dark: 225, 5, 25;
	--rgb-red-light: 255, 55, 75;
	--rgb-sunny: 255, 205, 5;
	--rgb-teal: 40, 177, 204;
	--rgb-teal-dark: 20, 157, 184;
	--rgb-yellow: 255, 226, 0;
	--rgb-yellow-light: 255, 255, 225;
	--rgb-warm-1: 255, 247, 239;
	--rgb-warm-2: 245, 237, 229;
	--rgb-warm-3: 235, 227, 219;
	--rgb-warm-4: 225, 217, 209;
	--rgb-white: 255, 255, 255;
	--rgb-tool-chat: 40, 177, 204;
	--rgb-tool-card-table: 255, 162, 55;
	--rgb-tool-docs-and-files: 255, 204, 0;
	--rgb-tool-message-board: 27, 106, 201;
	--rgb-tool-schedule: 255, 45, 85;
	--rgb-tool-to-dos: 60, 179, 113;
	--color-app: rgb(var(--rgb-app));
	--color-black: rgb(var(--rgb-black));
	--color-black-dark: rgb(var(--rgb-black-dark));
	--color-black-light: rgb(var(--rgb-black-light));
	--color-blue: rgb(var(--rgb-blue));
	--color-blue-dark: rgb(var(--rgb-blue-dark));
	--color-blurple: rgb(var(--rgb-blurple));
	--color-brass: rgb(var(--rgb-brass));
	--color-eggshell: rgb(var(--rgb-eggshell));
	--color-eggshell-dark: rgb(var(--rgb-eggshell-dark));
	--color-eggshell-darker: rgb(var(--rgb-eggshell-darker));
	--color-green: rgb(var(--rgb-green));
	--color-green-dark: rgb(var(--rgb-green-dark));
	--color-grey: rgb(var(--rgb-grey));
	--color-grey-dark: rgb(var(--rgb-grey-dark));
	--color-grey-light: rgb(var(--rgb-grey-light));
	--color-orange: rgb(var(--rgb-orange));
	--color-orange-dark: rgb(var(--rgb-orange-dark));
	--color-pink: rgb(var(--rgb-pink));
	--color-pink-dark: rgb(var(--rgb-pink-dark));
	--color-purple: rgb(var(--rgb-purple));
	--color-purple-dark: rgb(var(--rgb-purple-dark));
	--color-red: rgb(var(--rgb-red));
	--color-red-dark: rgb(var(--rgb-red-dark));
	--color-red-light: rgb(var(--rgb-red-light));
	--color-sunny: rgb(var(--rgb-sunny));
	--color-teal: rgb(var(--rgb-teal));
	--color-teal-dark: rgb(var(--rgb-teal-dark));
	--color-yellow: rgb(var(--rgb-yellow));
	--color-yellow-light: rgb(var(--rgb-yellow-light));
	--color-warm-1: rgb(var(--rgb-warm-1));
	--color-warm-2: rgb(var(--rgb-warm-2));
	--color-warm-3: rgb(var(--rgb-warm-3));
	--color-warm-4: rgb(var(--rgb-warm-4));
	--color-white: rgb(var(--rgb-white));
	--color-tool-chat: rgb(var(--rgb-tool-chat));
	--color-tool-card-table: rgb(var(--rgb-tool-card-table));
	--color-tool-docs-and-files: rgb(var(--rgb-tool-docs-and-files));
	--color-tool-message-board: rgb(var(--rgb-tool-message-board));
	--color-tool-schedule: rgb(var(--rgb-tool-schedule));
	--color-tool-to-dos: rgb(var(--rgb-tool-to-dos));
	--space-neutral: 1.4em;
	--space-xxx-small: 0.2em;
	--space-xx-small: 0.4em;
	--space-x-small: 0.6em;
	--space-small: 0.8em;
	--space-medium: 1em;
	--space-large: 2em;
	--space-x-large: 3em;
	--space-xx-large: 4em;
	--space-xxx-large: 5em;
	--font-family: "Graphik", Sans-Serif;
	--font-size-base: clamp(1.3rem, 1.9vw, 1.7rem);
	--font-size-xxx-small: 45%;
	--font-size-xx-small: 55%;
	--font-size-x-small: 62%;
	--font-size-small: 80%;
	--font-size-medium: 100%;
	--font-size-large: 125%;
	--font-size-x-large: 160%;
	--font-size-xx-large: 200%;
	--font-size-xxx-large: 260%;
	--max-width-xxx-small: 35rem;
	--max-width-xx-small: 45rem;
	--max-width-x-small: 54rem;
	--max-width-small: 65rem;
	--max-width-medium: 90rem;
	--max-width-large: 100rem;
	--transition: 0.1s cubic-bezier(0.33, 1, 0.68, 1);
	--transition-slow: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
	--transition-x-slow: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.uo-transition section {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: -3em -2em;
}
.section {
	background: transparent;
	border: 0;
	font: inherit;
	font-size: inherit;
	font-size: 100%;
	margin: 0;
	min-width: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
