a {
	color: #605643;
}
.wrapper {
	margin-top: 50px;
	max-width: 1200px;
	padding: 0 20px;
}

.members {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	align-items: flex-start; /* Alignement des cartes des membres en haut */
	justify-content: flex-start; /* Alignement horizontal des cartes des membres */
}
.wrapper h1 {
	margin-left: 30px;
}

.member-card {
	align-items: center;
	width: 300px;
	height: 150px;
	margin: 35px;
	align-items: flex-start;
	overflow: hidden;
	background-color: #fff;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
	position: relative;
}

.member-card:hover {
	transform: scale(1.05);
	background-color: #d4b89d;
	color: #605643;
}

.profile-picture {
	width: 100%;
	height: auto;
	display: block;
}

.content-container {
	padding: 10px;
}

.title {
	margin-bottom: 10px;
	font-size: bold;
}

.job-title {
	font-style: italic;
	color: #fff;
}

.group-picture {
	margin: 20px auto;
	max-width: 80%;
}

.member-card .button {
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: #605643;
}

.quote-container {
	position: relative;
	max-width: 80%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.quote2 {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 65px;
	color: #605643;
	max-width: calc(100%-15px);
}

@media screen and (max-width: 767px) {
	.wrapper {
		margin-top: 30px;
	}

	.members {
		max-width: 100%;
		padding: 0 10px;
	}

	.member-card {
		width: calc(100% - 20px);
		height: auto;
		margin: 15px;
	}
	.wrapper h1 {
		margin-left: 25px;
	}

	.quote-container {
		padding-bottom: 40px;
	}

	.profile-picture {
		width: 100%;
		height: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.member-card {
		width: calc(50% - 70px); /* Deux colonnes sur tablette */
	}
	.wrapper h1 {
		margin-left: 35px;
	}
}
@media screen and (min-width: 1024px) {
	.member-card {
		width: calc(33.333% - 70px); /* Trois colonnes sur PC */
	}
}
