a {
	color: #605643;
}

.h1 {
	position: center;
}

.members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.member-card {
	width: 300px;
	height: 150px;
	margin: 10px;
	border: solid #d4b89d;
	overflow: hidden;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
	position: relative;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.member-card:hover {
	transform: scale(1.05);
	background-color: #d4b89d;
	color: #605643;
}

.profile-picture {
	width: 100%;
	height: auto;
	display: block;
}

.content-container {
	padding: 10px;
}

.title {
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: bold;
}

.job-title {
	font-style: italic;
	color: #fbf8f3;
}

.group-picture {
	width: 80%;
	height: auto;
	display: block;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.member-card .button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #fbf8f3;
	color: #605643;
	padding: 5px 10px;
}

.member-card .button:hover {
	color: #415b01;
	font-weight: bold;
}

.quote-container {
	position: relative;
	max-width: 80%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.quote {
	position: relative;
	font-size: 80px;
	padding: 20px;
	margin: 50px;
	background-color: #fbf8f3;
	max-width: 80%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.quote p {
	font-size: 18px;
	text-align: center;
	font-weight: bolder;
}
