/*wave-design*/
.wave-header {
	background: red;
	color: red;
	text-align: center;
	bottom: 0;
}

.wave-header h2 {
	font-size: 20px;
}

.wave-header p {
	/*font-size: 20px;*/
}

.wave-header svg {
	bottom: 0;

}

.wave-upper {
	background: red;

}

svg {
	bottom: 0;
}