.wave-header {
	color: white;
	text-align: center;
	position: relative;
	z-index: 1; /* Set a lower z-index to position it behind the slider */
	width: 100%;
}

.wave-header svg {
	width: 100%;
}

.wave-container {
	width: 400px;
	margin: 0 auto;
	overflow: hidden;
}

.wave-upper {
	background: white;
	width: 100%;
}

.fourth {
	background-color: #fff;
}

.fourth h1 {
	margin: 0;
}

svg {
	bottom: 0;
	position: absolute;
	z-index: -1; /* Set a lower z-index to position it behind the slider */
}
