/* BUTTONS */

/*.btn-primary {
	font-family: "houschka-rounded", sans-serif;
	font-weight: 300;
	font-style: bold;
	color: #415b01;
	background-color: #fbf8f3;
	text-decoration: none;
}
*/
.btn-primary {
	font-family: "houschka-rounded", sans-serif;
}

.btn-primary {
	margin-top: 30px;
	color: #415b01;
	border-radius: 30px;
	padding: 10px 25px;
	background-color: white;
}

.btn-primary:hover {
	font-weight: 300;
	font-style: bold;
	color: #fbf8f3;
	background-color: #415b01;
}

/*.btn-secondary {
}
*/